body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(165, 42, 42, 0.281);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 860px;
}

.box {
    box-sizing: border-box;
    background-color: aliceblue;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(153, 153, 241, 0.151);

}

.hovered-box {
    background-color: rgb(0, 0, 0);
    aspect-ratio: 1 / 1;
    flex-basis: 6.25%;
}

button {
    background-color: aliceblue;
    color: rgb(66, 69, 71);
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    color:rgb(49, 45, 45)
}

button:hover {
    background-color: rgb(186, 192, 197);
}